@use "src/app/styles/nde-variables" as vars;
@use "src/app/styles/nde-mixing" as mixing;
.main-landing-page {
  width: vars.$responsiveWidth;
  @include vars.set-responsive-width;
  margin: 0 auto;
  gap: 5rem;
  //need to delete when the Featured Books will be developed
  margin-block-end: 100px;
  @include mixing.respond-to('xsmall') {
    width: 100%;
  }

  .menu-container {
    .menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
      grid-row-gap: 1.5rem;
      grid-column-gap: 1rem;
      li {
        a {
          background-color: var(--sys-inverse-on-surface);
          display: flex;
          padding: 1rem;
          border: .0625rem solid var(--sys-primary);
          border-radius: .5rem;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          font-family: inherit;
          cursor: pointer;
          height: 100%;
          @include mixing.respond-to('large', 'xlarge') {
            &:hover, &:focus {
            transition: box-shadow .3s, transform .3s ease-in-out;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
            transform: translateY(-1.1875rem);
          }
          }

          .icon {
            background-color: var(--sys-inverse-on-surface);
            border-radius: 50%;
            width: 3.75rem;
            height: 3.75rem;
            align-items: center;
            @include mixing.respond-to('medium', 'small', 'xsmall') {
              width: 2.5rem;
              height: 2.5rem;
              align-items: normal;
              justify-content: center;
            }
          }
          span {
            margin-top: .3125rem;
            font-size: vars.$bigFontSize;
            font-weight: vars.$bold;
            display: flex;
            align-items: center;
            min-height: 2.5rem;
            text-align: center;
            @include mixing.respond-to('medium', 'small', 'xsmall') {
              font-size: .88rem;
              min-height: 2.2rem;
            }
          }
        }
      }
    }
  }
  .about {
    .about-content {
      @include mixing.respond-to('small', 'xsmall') {
        flex-direction: column-reverse;
      }
      .about-text {
        padding: 2rem;
        background-color: var(--sys-inverse-on-surface);
        gap: 1.5rem;
        @include mixing.respond-to('small', 'xsmall') {
          padding: 1rem;
          gap: 1rem;
        }
        .about-text-title {
          font-weight: vars.$bold;
          font-size: vars.$xLargeFontSize;
          @include mixing.respond-to('medium') {
            font-size: vars.$largeFontSize;
          }
          @include mixing.respond-to('small', 'xsmall') {
            font-size: vars.$largeFontSize;
          }
        }
        .about-text-description {
          line-height: 2rem;
          font-size: vars.$largeFontSize;
          font-weight: vars.$normal;
          @include mixing.respond-to('medium', 'small', 'xsmall') {
            font-size: vars.$mediumFontSize;
            line-height: 1.4rem;
          }
        }
        .help-sign-in-container {
          font-size: vars.$largeFontSize;
          @include mixing.respond-to('medium', 'small', 'xsmall') {
            font-size: vars.$mediumFontSize;
            ul {
              li {
                margin-block: .625rem;
              }
            }
          }
          ul {
            li {
              margin-block: 1rem;
              display: flex;
              align-items: center;
              gap: .5rem;
            }
          }
        }
      }
      a {
        padding-block: .5rem;
        padding-inline: 1rem;
        border-radius: 2rem;
        background-color: var(--sys-primary);
        color: var(--whiteText);
        font-weight: vars.$bold;
        font-size: vars.$bigFontSize;
        font-family: inherit;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-underline: none;
        display: inline-block; /* Added */
        max-width: fit-content; /* Added */
        margin-left: 0; /* Added */
      }

      a:focus {
        outline: none;
        box-shadow: 0 0 0 2px white, 0 0 0 3px #000000;
        transform: scale(1.02); /* Added subtle animation */
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
  }
}
