.h3lp {
  background: #512888;
  color: #f0f0f0;
  padding: 10px 10px 8px;
  font-size: 16px;
  border-radius: 3px 3px 0 0;
  position: absolute;
  bottom: 400px;
  right: -20px;
  border: 0 none;
  z-index: 200;
  box-shadow: none;
  font-weight: 400;
  text-align: center;
  display: block;
  text-decoration: none;
  width: 75px;
  height: 36px;
  font-family: myriad-pro, sans-serif;
}

@media screen and (max-width: 810px) {
  .h3lp {
    display: none;
  }
}
